@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #FAFAFA;
}

.navbar-dashboard {
    display: flex;
    background-color: #fff;
    min-width: 100%;
    width: 100%;
    gap: 4rem;
    padding: 1rem;
    /* justify-content: center; */
    align-items: center;
    min-height: 10vh;

}

.menu-logo--div {
    display: flex;
    gap: 15%;
    width: 14%;


}

#menu-icon{
    cursor: pointer;
}

.search-box {
    display: flex;
    width: 63%;
    align-items: center;

}

#search-icon {
    width: 16px;
    height: 16px;

}

#search-input {
    height: 5vh;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 1rem;


}

.right-navigation {
    display: flex;
    gap: 2rem;
    align-items: center;
    width: 15%;
}

.navigation-profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* ----------------------------------------------------------------------------------------- */
/* Css for dashboard body : */
/* ----------------------------------------------------------------------------------------- */

.dashboard--body {
    display: flex;

}

.left--sidebar {
    width: 17%;
    height: 200vh;

    display: flex;
    background-color: #fff;
    flex-direction: column;
    gap: 1rem;
    transition: 1s ease;
}




.open{
    display: flex;
}

.close{
    display: none;
}


.dashboard-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    width: 70%;
    border-radius: 5px;
    padding: 0.5rem;
    margin-left:2rem;

}


.dashboard-item--icon {
    width: 20px;
    height: 20px;
}

.item-active {
    color: #C8242F;
    background-color: #FFF3F4;
}



/* --------------- right side */

.right-dashboard--content{
    height: 100vh;
    width: 80%;
    padding: 2%;
}

#title--dashboard{
    color: #000;
    font-size: 30px;
}

.insights{
    display: grid;
    grid-template-columns: 17% 17% 17% 17% 17%;
    grid-template-rows: 10%;
    column-gap: 4%;
    padding-left: 2%;
}

.insight{
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color:#fff;
    padding: 3%;
    border-radius: 5px;

    
    
}

.insight-icon{
    width: 38px;
    height: 38px;
    min-width: 33px;
    min-height: 33px;
}

.insight-info{
    display: flex;
    flex-direction: column;
    
    
}

.insight-info p{
    font-size: 25px;
    color:#3E3E3E;
    font-weight: bold;
    position: relative;
    top: 0.8rem;
  

}

.insight-info small{
    font-size: 15px;
    position: relative;
    color: #3E3E3E;
    bottom:0.8rem;
}


/* ---------------------------------------------charts */


.charts{
    display: grid;
    width: 80%;
    grid-template-columns: 75% 40%;
    grid-template-rows: 5%;
    column-gap: 6%;
    margin-top: 5rem;
    padding-left: 2rem;
    
    
    
}

.data-graph--chart{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    padding: 1rem;
}

#data-graph{
    width: 100%;
    height: 45vh;
}


.left-chart--header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    
}

.left-chart--header h3{
    font-size: 22px;
}

ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    
}
ul li{
    
    list-style: none;
    font-size: 12px;
}



.pie-chart{
    display: flex;
    flex-direction: column;
   border-radius: 5px;
   height: 55vh;
    background-color: #fff;
 
    
}

.pie-chart h3{
    font-size: 22px;
    padding: 1rem;
    
}

#pie-chart{
   padding-left: 1.5rem;
    width: 70%;
height: auto;
}


.country{
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

.red-circle{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #C8242F;
}
.green-circle{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #A2B86C;
}
.orange-circle{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #F16C20;
}
.yellow-circle{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #EBC844;
}

.country-info{
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20%;
    padding: 1rem;
    row-gap: 1rem;
}
/* ---------------------------------------------charts */



/* table */


.succ {
    color: #3CDD5F;
    background-color: #EBFFEF;

}

.fail {
    color: #FF4545;
    background-color: #FFF5F5;
}

.pending {
    color: #BABABA;
    background-color: #F8F8F8;
}

.display-flex {
    margin-top: 3rem;
    display: flex;
    gap: 0.75rem;
    justify-content: space-between;

}

.table-top small{
    color: #C8242F;
    font-weight: bold;
}

.invoice-table{
    background-color: #fff;
    padding: 2.5rem;
    margin-top:2rem;
    border-radius: 5px;
    width: 94%;
    margin-left: 2.5%;
}

/* table */



#close-arrow{
    display: none;
}

.profile-in-slidebar{
    opacity: 0;
}

.profile-item{
    display: none;
}