@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* main heading font  */

h1 {
    font-size: 1.8rem;
    color: #000000;
}


/* insights font */
h4 {
    font-size: 1.25rem;
    color: #3E3E3E;
    font-weight: 400;
}


h2 {
    font-size: 1.8rem;
    color: #3E3E3E;
    font-weight: 500;
}

h3 {
    font-size: 1.5rem;
    color: #3E3E3E;
    font-weight: 500;

}

h5 {
    font-size: 1.3rem;
    color: #3E3E3E;
    font-weight: 500;

}


h6 {
    font-size: 1rem;
    color: #3E3E3E;
    font-weight: 400;
}

/* css for login page  */

/* --------------------------------------------- */


.login-form {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: #FAFAFA;

}

#header-logo-img {
    width: 265px;
    height: 55px;
    margin-bottom: 1rem;
}

.hero-image img {
    width: 500px;
    height: 500px;
    box-shadow: 0px 4px 31px #0000000A;
    border: 20px solid #FFFFFF;
    border-radius: 50%;
}

.form h2 {
    font-size: 2.5rem;
    color: #3E3E3E;
}

.form h2 span {
    font-weight: bold;
    color: #C8242F;
}


.hero-image {
    width: 50vw;
    text-align: right;
}

.form {
    width: 50vw;
}

.form-details {
    margin-top: 1rem;
    width: 28vw;
}

input {
    border: 1px solid #ADADAD;
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 429px;
    margin-top: 1rem;
    height: 40px;
    padding: 1rem;
}

#login-btn {
    background-color: #C8242F;
    color: #fff;
    font-weight: bold;
    width: 138px;
    height: 45px;
    border-radius: 23px;

}

.login-function {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reg {
    margin-top: 1.5rem;
}

.reg span {
    color: #C8242F;
}

/* ------ css for dashboard page ------ */
.color-red {
    color: #C8242F;
}

.active {
    background-color: #FFF3F4;
    color: #C8242F;
    font-weight: 500;
}

.small {
    font-size: 0.75rem;

}

.succ {
    color: #3CDD5F;
    background-color: #EBFFEF;

}

.fail {
    color: #FF4545;
    background-color: #FFF5F5;
}

.pending {
    color: #BABABA;
    background-color: #F8F8F8;
}



/* ------------------------*-------------------------- */
/* header css */


.main-header {
    display: flex;
    min-width: 100%;
    min-height: 5rem;
    justify-content: space-between;
    background-color: #FFFFFF;
    align-items: center;



}

.left-header,
.right-header {
    display: flex;
    max-width: 50%;
    gap: 3rem;
    align-items: center;
}


#menu {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#header-logo {
    width: 142px;
    height: 30px;
    cursor: pointer;
}

.search-box {
    display: flex;
    width: 100%;
    gap: 1rem;
    align-items: center;
}

#search-icon {
    width: 20px;
    height: 20px;
}

#search-input {
    outline: none;
    border: none;
    font-weight: bolder;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 0;
}    


/* right header css */

#notification-icon {
    width: 22px;
    height: 21px;
    cursor: pointer;
}    

.profile {
    display: flex;
    gap: 1rem;
    align-items: center;
}    

#profile {
    width: 44px;
    height: 44px;
    cursor: pointer;
    border-radius: 50%;


}    

#profile h6 {
    color: #000;
    font-weight: bold;
}    

#down-arrow {
    cursor: pointer;
    width: 30px;
    display: none;
    height: 25px;
}    


/* -------------------------------------- */

/* side bar and dashboard */


.container {
    background-color: #FAFAFA;
    width: 66vw;
}

.left-sidebar {
    background-color: #fff;
    position: fixed;
    left: 0;

    padding: 1rem;
    width: 17%;
    height: 100vh;
    transition: 0.5s ease;

}


/* -----------------menu bar turn and off */

.menu-bar-opened {

    left: 0;


}

.menu-bar-closed {
    left: -100%;

}

#caret-shown {
    width: 15px;
    height: 15px;
}


/* -----------------menu bar turn and off */






.dashboard-icon {
    width: 20px;
    height: 20px;
}

.sidebar-items {
    width: 100%;
    display: flex;
    gap: 0.75rem;
    border-radius: 10px;
    padding: 5px;
    align-items: center;

}

.sidebar-items h6 {
    margin-top: 7px;
}

.sidebar-items img {
    margin-left: 2.8rem;
}


/* right side bar  */

.right-slidebar{
    
    width: 18rem;
    height: 10vh;
    position: fixed;
    top: 5rem;
    /* background-color: #00AF27; */
    right: 0;
    
}

.right-slidebar--open{
    right: 0rem;
}

.right-slidebar--close{
    right: 100rem;
}
/* right side bar  */

/* ----------------------------right dashboard-------------------------- */

.right-dashboard {
    background-color: #FAFAFA;
    width: 81.5vw;
    padding: 2rem;
    height: 150vh;
}

.title {
    width: 50vw;
    text-align: left;
    margin-left: 2rem;
}



/* ------------------insights css */

.insights {
    display: grid;
    grid-template-columns: 14rem 14rem 14rem 14rem 14rem;
    grid-template-rows: 6rem;
    width: 80vw;
    margin-left: 2rem;
    margin-top: 2rem;
    column-gap: 2.9rem;
}

.insight {
    background-color: #fff;
    width: 14rem;
    height: 6rem;
    padding: 1.6rem;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 1rem;
    border-radius: 5px;
}

.insight-icon {
    width: 37px;
    height: 37px;
}

.insight-info {
    display: flex;
    flex-direction: column;

}




/* -------------charts and table css */


.chart-table {
    display: grid;
    grid-template-columns: 50rem 24rem;
    grid-template-rows: 25rem;
    column-gap: 5rem;
    margin-left: 2rem;
    margin-top: 2rem;
}

.data-graph {
    background-color: #fff;
    width: 50vw;
    height: 53vh;
    padding: 1rem;
    border-radius: 5px;
}

.pie-chart {
    background-color: #fff;
    width: 25vw;
    height: 53vh;
    border-radius: 5px;
    padding: 1rem;
}


.graph-header {
    display: flex;
    padding: 0rem;
    justify-content: space-between;
    align-items: center;

}

ul {
    display: flex;
    gap: 1rem;
    position: relative;

}

li {

    list-style: none;
    color: #ADADAD;
}

#line1 {
    position: absolute;

    color: #C8242F;
    background-color: #C8242F;
    top: 1.6rem;

    left: 8.7rem;
    width: 47px;
    height: 2px;
}

ul li:nth-child(3) {
    color: #C8242F;
    font-weight: 500;
}

/* ---------pie chart */

.pie {
    min-width: 20vw;
    text-align: center;
}

.country-info {
    display: grid;
    grid-template-columns: 15rem 11rem;
    grid-template-rows: 1.8rem 1.8rem;
    column-gap: 1rem;
}

.circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.display-flex {
    display: flex;
    gap: 0.75rem;

}



.country-america div {

    background-color: #C8242F;
}

.country-canada div {
    background-color: #A2B86C;
}

.country-russia div {
    background-color: #F16C20;
}

.country-india div {
    background-color: #EBC844;
}



/* --------------------table */

.invoice-table {
    width: 77vw;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 5rem;
    padding: 1rem;
    margin-left: 2rem;
}

.table-top {
    justify-content: space-between;
}

.table-top small {
    color: #C8242F;
    font-weight: 500;
}









/* ---------------------------------- csss for innerpage- ------------------- */


.registration-form {
    background-color: #F8F8F8;
    width: 85vw;
    padding: 1rem;

}

.main-form {
    padding: 1rem;
    width: 79vw;
    background-color: #fff;
    border-radius: 5px;
}

.registration-form h2 {
    color: #000;
    margin-top: 1rem;

}

.registration-form h5 {

    margin-top: 2rem;

}

.one-column-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
}

.one-column-form h5 {
    position: relative;
    top: 1rem;
}

.one-column-form input,
.one-column-form textarea {
    width: 75vw;
    padding: 1.5rem;
}

.one-column--dropdown {
    width: 75vw;
    position: relative;
}

.one-column--dropdown span {
    position: absolute;
    right: 1rem;
    top: 1.5rem;
}

.one-column--dropdown span img {
    opacity: 0.5;
}

.two-column--dropdown {
    width: 75vw;
    position: relative;
}

.two-column--dropdown span {
    position: absolute;
    right: 1rem;
    top: 1.5rem;
}

.two-column--dropdown span img {
    opacity: 0.5;
}

.two-column-form {
    display: grid;
    width: 75vw;
    column-gap: 5rem;
    grid-template-columns: 37rem 37rem;
    grid-template-rows: 4rem 4rem;

}

.two-column-form h5 {
    position: relative;
    top: 5rem;
}

.two-column-form input {
    width: 36vw;
}

.two-column--fieldset {
    position: relative;
}

.two-column--fieldset legend {
    position: absolute;
    top: 5px;
    font-size: 13px;
    background-color: #fff;
    width: 60px;
    left: 30px;
    color: #ADADAD;
}

.three-column-form {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.three-column--fieldset input {
    width: 23vw;
}


.three-column--fieldset {
    position: relative;
}

.three-column--fieldset legend {
    position: absolute;
    top: 5px;
    font-size: 13px;
    background-color: #fff;
    width: 60px;
    left: 30px;
    color: #ADADAD;
}

.four-column-form {
    display: grid;
    column-gap: 2.4rem;
    grid-template-columns: 17vw 17vw 17vw 17vw;
    grid-template-rows: 5vw;
}

#four-column--designation,
#four-column--name,
#four-column--username,
#four-column--dropdown {
    width: 18vw;
}

#other_elements {
    color: #3E3E3E;
    font-size: 22px;
    font-weight: 600;
}

#file {
    color: #3E3E3E;
    font-size: 18px;

}

.font-style {
    color: #3E3E3E;
    font-size: 18px;
}

.radio {
    display: flex;
    align-items: center;
    margin-left: 0;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-left: 0;
}

#opt1 {
    color: #ADADAD;
    width: 15px;
    height: 15px;
}

#opt2 {
    color: #ADADAD;
    width: 15px;
    height: 15px;
    accent-color: #C8242F;

}

#checkbox1 {
    color: #ADADAD;
    width: 15px;
    height: 15px;
}

#checkbox2 {
    color: #ADADAD;
    width: 15px;
    height: 15px;
    accent-color: #C8242F;

}

.snackbar {
    margin-left: -1rem;
}


.alert {
    border: 1px solid #FF3535;
    border-radius: 5px;
    padding: 7px;
    height: 44px;
}


.info {
    border: 1px solid #00B9E1;
    border-radius: 5px;
    padding: 7px;
    height: 44px;
}

.warning {
    border: 1px solid #FFA800;
    border-radius: 5px;
    padding: 7px;
    height: 44px;
}

.check {
    border: 1px solid #00AF27;
    border-radius: 5px;
    padding: 7px;
    height: 44px;
}

.alert-box span img {
    width: 15px;
    height: 15px;
}

#error-msg {
    color: #FF3535;
    font-weight: 400;
}

#info-msg {
    color: #00B9E1;
    font-weight: 400;
}

#warning-msg {
    color: #FFA800;
    font-weight: 400;
}

#succ-msg {
    color: #00AF27;
    font-weight: 400;
}

.action-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    margin-left: 0;

}

.primary-button,
.secondary-button {
    width: 124px;
    height: 45px;
    border-radius: 23px;
    border: 1px solid #C8242F;
}

.primary-button {
    background-color: #C8242F;
    color: #fff;
    font-weight: bold;
}

.secondary-button {
    background-color: #fff;
    color: #C8242F;
    font-weight: bold;
}

.tabs ul {
    display: flex;
    gap: 4rem;
    margin-left: 0;
    position: relative;
}

li {
    list-style: none;
    padding: 0.5rem;

}

ul {
    border-bottom: 1px solid #3E3E3E;
    width: 90%;
}

.underline {
    width: 60px;
    height: 3px;
    color: #C8242F;
    background-color: #C8242F;
    position: absolute;
    top: 2.4em;
}

#focus {
    border-color: #C8242F;
}

#designation {
    border-color: #C8242F;
}

#input-info {
    position: absolute;
    color: #FF3B3B;
    font-size: 12px;
    left: 1.8rem;
}

.four-column {
    position: relative;
}

#full-name-info {
    color: #ADADAD;
    font-size: 12px;
    position: absolute;
    top: 5rem;
    left: 18rem;
}

#file-uplaod {
    border: none;
}



















/* Media queries */

/* media query for login page */
@media screen and (max-width:1167px) {
    .login-form {
        gap: 5rem;
    }

    .form-details {
        display: flex;
        flex-direction: column;
        width: 38vw;
    }
}


@media screen and (max-width:911px) {
    .login-form {
        gap: 2rem;
    }



    .hero-image img {
        width: 340px;
        height: 340px;
        box-shadow: 0px 4px 31px #0000000A;
        border: 20px solid #FFFFFF;
        border-radius: 50%;
    }

    #header-logo-img {
        width: 150px;
        height: 40px;
        /* margin-bottom: 1rem; */
    }

    .hero-image img {
        width: 350px;
        height: 350px;
        box-shadow: 0px 4px 31px #0000000A;
        border: 20px solid #FFFFFF;
        border-radius: 50%;
    }

    .form h2 {
        font-size: 1.5rem;
        color: #3E3E3E;
    }

    .form h2 span {
        font-weight: bold;
        color: #C8242F;
    }

    .form-details h3 {
        font-size: 0.8rem;
    }

    .login-function {
        margin-top: 1.5rem;
        display: flex;
        width: 45vw;
        justify-content: space-between;
        align-items: center;
    }

    .login-function h6 {
        font-size: 0.8rem;
    }

    .reg {
        margin-top: 1.5rem;
        width: 340px;
    }

    .reg h6 {
        font-size: 0.8rem;
    }

    .reg span {
        font-size: 0.8rem;
        color: #C8242F;
    }

    #login-btn {
        background-color: #C8242F;
        color: #fff;
        font-weight: bold;
        width: 90px;
        outline: none;
        border: none;
        height: 30px;
        padding: 0.5rem;
        border-radius: 20px;

    }

}

@media screen and (max-width :770px) {

    h1 {
        font-size: 1.8rem;
        color: #000000;
    }


    /* insights font */
    h4 {
        font-size: 1.25rem;
        color: #3E3E3E;
        font-weight: 400;
    }


    h2 {
        font-size: 1.8rem;
        color: #3E3E3E;
        font-weight: 500;
    }

    h3 {
        font-size: 1rem;
        color: #3E3E3E;
        font-weight: 500;

    }

    h5 {
        font-size: 1.3rem;
        color: #3E3E3E;
        font-weight: 500;

    }


    h6 {
        font-size: 1rem;
        color: #3E3E3E;
        font-weight: 400;
    }


    .login-form {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

    }



    #header-logo-img {
        width: 150px;
        height: 40px;
        /* margin-bottom: 1rem; */
    }

    .hero-image img {
        width: 350px;
        height: 350px;
        box-shadow: 0px 4px 31px #0000000A;
        border: 20px solid #FFFFFF;
        border-radius: 50%;
    }

    .form h2 {
        font-size: 1.5rem;
        color: #3E3E3E;
    }

    .form h2 span {
        font-weight: bold;
        color: #C8242F;
    }


    .hero-image {
        width: 50vw;
        text-align: right;
    }

    .form {
        width: 50vw;
    }

    .form-details {
        margin-top: 1rem;
        width: 28vw;
    }

    input {
        border: 1px solid #ADADAD;
        background-color: #FFFFFF;
        border-radius: 5px;
        width: 40vw;
        margin-top: 1rem;
        height: 40px;
        padding: 1rem;
    }

    #login-btn {
        background-color: #C8242F;
        color: #fff;
        font-weight: bold;
        width: 90px;
        outline: none;
        border: none;
        height: 30px;
        padding: 0.5rem;
        border-radius: 20px;

    }

    .login-function {
        margin-top: 1.5rem;
        display: flex;
        width: 300px;
        justify-content: space-between;
        align-items: center;
    }

    .login-function h6 {
        font-size: 0.8rem;
    }

    .reg {
        margin-top: 1.5rem;
        width: 340px;
    }

    .reg h6 {
        font-size: 0.8rem;
    }

    .reg span {
        font-size: 0.8rem;
        color: #C8242F;
    }

}



@media screen and (max-width :670px) {

    h1 {
        font-size: 1.8rem;
        color: #000000;
    }


    /* insights font */
    h4 {
        font-size: 1.25rem;
        color: #3E3E3E;
        font-weight: 400;
    }


    h2 {
        font-size: 1.8rem;
        color: #3E3E3E;
        font-weight: 500;
    }

    h3 {
        font-size: 1rem;
        color: #3E3E3E;
        font-weight: 500;

    }

    h5 {
        font-size: 1.3rem;
        color: #3E3E3E;
        font-weight: 500;

    }


    h6 {
        font-size: 1rem;
        color: #3E3E3E;
        font-weight: 400;
    }


    .login-form {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

    }



    #header-logo-img {
        width: 150px;
        height: 40px;
        /* margin-bottom: 1rem; */
    }

    .hero-image img {
        width: 300px;
        height: 300px;
        box-shadow: 0px 4px 31px #0000000A;
        border: 20px solid #FFFFFF;
        border-radius: 50%;
    }

    .form h2 {
        font-size: 1.5rem;
        color: #3E3E3E;
    }

    .form h2 span {
        font-weight: bold;
        color: #C8242F;
    }


    .hero-image {
        width: 50vw;
        text-align: right;
    }

    .form {
        width: 55vw;
    }

    .form-details {
        margin-top: 1rem;
        width: 28vw;
    }

    input {
        border: 1px solid #ADADAD;
        background-color: #FFFFFF;
        border-radius: 5px;
        width: 45vw;
        margin-top: 1rem;
        height: 40px;
        padding: 1rem;
    }

    #login-btn {
        background-color: #C8242F;
        color: #fff;
        font-weight: bold;
        width: 90px;
        outline: none;
        border: none;
        height: 30px;
        padding: 0.5rem;
        border-radius: 20px;

    }

    .login-function {
        margin-top: 1.5rem;
        display: flex;
        width: 300px;
        justify-content: space-between;
        align-items: center;
    }

    .login-function h6 {
        font-size: 0.8rem;
    }

    .reg {
        margin-top: 1.5rem;
        width: 340px;
    }

    .reg h6 {
        font-size: 0.8rem;
    }

    .reg span {
        font-size: 0.8rem;
        color: #C8242F;
    }

}



@media screen and (max-width :615px) {

    h1 {
        font-size: 1.8rem;
        color: #000000;
    }


    /* insights font */
    h4 {
        font-size: 1.25rem;
        color: #3E3E3E;
        font-weight: 400;
    }


    h2 {
        font-size: 1.8rem;
        color: #3E3E3E;
        font-weight: 500;
    }

    h3 {
        font-size: 1rem;
        color: #3E3E3E;
        font-weight: 500;

    }

    h5 {
        font-size: 1.3rem;
        color: #3E3E3E;
        font-weight: 500;

    }


    h6 {
        font-size: 1rem;
        color: #3E3E3E;
        font-weight: 400;
    }


    .login-form {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.7rem;

    }



    #header-logo-img {
        width: 150px;
        height: 40px;
        /* margin-bottom: 1rem; */
    }

    .hero-image img {
        width: 250px;
        height: 250px;
        box-shadow: 0px 4px 31px #0000000A;
        border: 20px solid #FFFFFF;
        border-radius: 50%;
    }

    .form h2 {
        font-size: 0.8rem;
        color: #3E3E3E;
    }

    .form h2 span {
        font-weight: bold;
        color: #C8242F;
    }


    .hero-image {
        width: 50vw;
        text-align: right;
    }

    .form {
        width: 55vw;
    }

    .form-details {
        margin-top: 1rem;
        width: 28vw;
    }

    .form-details h3 {
        font-size: 0.7rem;
    }

    input {
        border: 1px solid #ADADAD;
        background-color: #FFFFFF;
        border-radius: 5px;
        width: 45vw;
        margin-top: 1rem;
        height: 40px;
        padding: 1rem;
    }

    #login-btn {
        background-color: #C8242F;
        color: #fff;
        font-weight: bold;
        width: 90px;
        outline: none;
        border: none;
        height: 30px;
        padding: 0.5rem;
        border-radius: 20px;

    }

    .login-function {
        margin-top: 1.5rem;
        display: flex;
        width: 300px;
        justify-content: space-between;
        align-items: center;
    }

    .login-function h6 {
        font-size: 0.8rem;
    }

    .reg {
        margin-top: 1.5rem;
        width: 340px;
    }

    .reg h6 {
        font-size: 0.8rem;
    }

    .reg span {
        font-size: 0.8rem;
        color: #C8242F;
    }

}



@media screen and (max-width :573px) {

    h1 {
        font-size: 1.8rem;
        color: #000000;
    }


    /* insights font */
    h4 {
        font-size: 1.25rem;
        color: #3E3E3E;
        font-weight: 400;
    }


    h2 {
        font-size: 1.8rem;
        color: #3E3E3E;
        font-weight: 500;
    }

    h3 {
        font-size: 1rem;
        color: #3E3E3E;
        font-weight: 500;

    }

    h5 {
        font-size: 1.3rem;
        color: #3E3E3E;
        font-weight: 500;

    }


    h6 {
        font-size: 1rem;
        color: #3E3E3E;
        font-weight: 400;
    }


    .login-form {
        height: 100vh;
        width: 100vw;
        display: block;
        justify-content: center;
        align-items: center;
        padding: 3rem;

    }



    #header-logo-img {
        width: 200px;
        height: 50px;
        /* margin-bottom: 1rem; */
    }

    .hero-image img {
        width: 300px;
        height: 300px;
        display: none;
        box-shadow: 0px 4px 31px #0000000A;
        border: 20px solid #FFFFFF;
        border-radius: 50%;
    }

    .form h2 {
        font-size: 1.6rem;
        color: #3E3E3E;
    }

    .form h2 span {
        font-weight: bold;
        color: #C8242F;
    }




    .form {
        padding: 3rem;
        width: 100vw;
    }

    .form-details {
        margin-top: 1rem;
        width: 90vw;
    }

    .form-details h3 {
        font-size: 1rem;
    }

    input {
        border: 1px solid #ADADAD;
        background-color: #FFFFFF;
        border-radius: 5px;
        width: 70vw;
        margin-top: 1rem;
        height: 40px;
        padding: 1rem;
    }

    #login-btn {
        background-color: #C8242F;
        color: #fff;
        font-weight: bold;
        width: 90px;
        outline: none;
        border: none;
        height: 30px;
        padding: 0.5rem;
        border-radius: 20px;

    }

    .login-function {
        margin-top: 1.5rem;
        display: flex;
        width: 70vw;
        justify-content: space-between;
        align-items: center;
    }

    .login-function h6 {
        font-size: 0.8rem;
    }

    .reg {
        margin-top: 1.5rem;
        width: 340px;
    }

    .reg h6 {
        font-size: 0.8rem;
    }

    .reg span {
        font-size: 0.8rem;
        color: #C8242F;
    }

}

/* Mobile large */

@media screen and (max-width :420px) {


    h1 {
        font-size: 1.8rem;
        color: #000000;
    }


    /* insights font */
    h4 {
        font-size: 1.25rem;
        color: #3E3E3E;
        font-weight: 400;
    }


    h2 {
        font-size: 1.8rem;
        color: #3E3E3E;
        font-weight: 500;
    }

    h3 {
        font-size: 1rem;
        color: #3E3E3E;
        font-weight: 500;

    }

    h5 {
        font-size: 1.3rem;
        color: #3E3E3E;
        font-weight: 500;

    }


    h6 {
        font-size: 1rem;
        color: #3E3E3E;
        font-weight: 400;
    }


    .login-form {
        height: 100vh;
        width: 100vw;
        margin-left: -2rem;
        

    }



    #header-logo-img {
        width: 200px;

        height: 40px;
        /* margin-bottom: 1rem; */
    }

    .hero-image img {
        width: 0px;
        height: 0px;
        display: none;
        box-shadow: 0px 4px 31px #0000000A;
        border: 20px solid #FFFFFF;
        border-radius: 50%;
    }

    .form h2 {
        font-size: 1.3rem;
        width: 80vw;
        color: #3E3E3E;
    }

    .form h2 span {
        font-weight: bold;
        color: #C8242F;
    }


    .form {
        width: 70vw;
        height: 100vh;
        margin-top: 0rem;
    }

    .form-details {
        margin-top: 1rem;
        width: 90vw;
    }

    input {
        border: 1px solid #ADADAD;
        background-color: #FFFFFF;
        border-radius: 5px;
        width: 70vw;
        margin-top: 1rem;
        height: 40px;
        padding: 1rem;
    }

    #login-btn {
        background-color: #C8242F;
        color: #fff;
        font-weight: bold;
        width: 90px;
        outline: none;
        border: none;
        height: 40px;
        padding: 0.5rem;
        border-radius: 20px;

    }

    .login-function {
        margin-top: 1.5rem;
        display: flex;
        width: 300px;
        justify-content: space-between;
        align-items: center;
    }

    .login-function h6 {
        font-size: 0.8rem;
    }

    .reg {
        margin-top: 1.5rem;
        width: 340px;
    }

    .reg h6 {
        font-size: 0.8rem;
    }

    .reg span {
        font-size: 0.8rem;
        color: #C8242F;
    }

}

/* Mobile Medium */

@media screen and (max-width :380px) {


    h1 {
        font-size: 1.8rem;
        color: #000000;
    }


    /* insights font */
    h4 {
        font-size: 1.25rem;
        color: #3E3E3E;
        font-weight: 400;
    }


    h2 {
        font-size: 1.8rem;
        color: #3E3E3E;
        font-weight: 500;
    }

    h3 {
        font-size: 1rem;
        color: #3E3E3E;
        font-weight: 500;

    }

    h5 {
        font-size: 1.3rem;
        color: #3E3E3E;
        font-weight: 500;

    }


    h6 {
        font-size: 1rem;
        color: #3E3E3E;
        font-weight: 400;
    }


    .login-form {
        height: 100vh;
        width: 100vw;
        margin-left: -3rem;
        padding: 1;
        background-color: #FAFAFA;


    }



    #header-logo-img {
        width: 150px;

        height: 40px;
        /* margin-bottom: 1rem; */
    }

    .hero-image img {
        width: 300px;
        height: 300px;
        display: none;
        box-shadow: 0px 4px 31px #0000000A;
        border: 20px solid #FFFFFF;
        border-radius: 50%;
    }

    .form h2 {
        font-size: 1.2rem;
        color: #3E3E3E;
    }

    .form h2 span {
        font-weight: bold;
        color: #C8242F;
    }


    .hero-image {
        width: 0vw;
        text-align: right;
    }

    .form {
        width: 100vw;
        height: 100vh;

        margin-top: 0rem;
    }

    .form-details {
        margin-top: 1rem;
        width: 100vw;
    }

    input {
        border: 1px solid #ADADAD;
        background-color: #FFFFFF;
        border-radius: 5px;
        width: 80vw;
        margin-top: 1rem;
        height: 40px;
        padding: 1rem;
    }

    #login-btn {
        background-color: #C8242F;
        color: #fff;
        font-weight: bold;
        width: 90px;
        outline: none;
        border: none;
        height: 40px;
        padding: 0.5rem;
        border-radius: 20px;

    }

    .login-function {
        margin-top: 1.5rem;
        display: flex;
        width: 80vw;
        justify-content: space-between;
        align-items: center;
    }

    .login-function h6 {
        font-size: 0.8rem;
    }

    .reg {
        margin-top: 1.5rem;
        width: 340px;
    }

    .reg h6 {
        font-size: 0.8rem;
    }

    .reg span {
        font-size: 0.8rem;
        color: #C8242F;
    }

}






/* media query for login page */




.downArrow{
    position: absolute;
    right: 0rem;
    top: -3rem;

}

.container{
    position: relative;
}

.opacity1{
    opacity: 1;
}

.opacity0{
    opacity: 0;
}